.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.column {
  float: left;
  width: 20%;
  padding: 5px;
  margin: 3em;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.bottom {
  max-width: 100vw;
  margin-top: 10px;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -22em;
}

/* .card-container img {
  transform: scale(1.2);
} */
.textfield {
  margin-top: 10px;
}

.points-container {
  display: flex;
  justify-content: space-between;
}

.your-points {
  float: left;
  margin-left: 2rem; 
}

.opponents-points {
  float: right;
  margin-right: 2rem; 
}
.cards-handled {
  font-size: ;
}


.container {
  margin-top: 20rem;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.bid-button {
  margin-top: .5rem;
  display: inline-block;
  padding: .1rem 1.75rem;
  border-radius: 10rem;
  color: #ffffff;
  text-transform: uppercase;
  font-size: rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6CB4EE;
    border-radius: 10rem;
    z-index: -2;
  }
  
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color:#5C99CA;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  
  &:hover {
    color: rgb(255, 255, 255);
    &:before {
      width: 100%;
    }
  }
}  

.copy-button {
  margin-top: .5rem;
  display: inline-block;
  padding: .1rem .5rem;
  border-radius: 10rem;
  color: #ffffff;
  text-transform: uppercase;
  font-size: rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6CB4EE;
    border-radius: 10rem;
    z-index: -2;
  }
  
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color:#5C99CA;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  
  &:hover {
    color: rgb(255, 255, 255);
    &:before {
      width: 100%;
    }
  }
}  
body {
  font-family: 'Roboto', sans-serif;
}

.bid-input {
  margin-top: 1rem;
  font-size: 16px;
  padding: 8px;
  border: 1px solid #6CB4EE;
}

.main-deck {
  display: flex;
  justify-content: center;
  margin-top: -2rem;
  font-size: 16px;
  padding: 8px;
  border: 1px solid #6CB4EE;
  max-width: 70vw;
  flex-wrap: wrap;
  margin-left: 15vw;
}
.side-board {
  display: flex;
  justify-content: center;
  margin-top: 0rem;
  font-size: 16px;
  padding: 8px;
  border: 1px solid #6CB4EE;
  max-width: 70vw;
  flex-wrap: wrap;
  margin-left: 15vw;
}

.swap-cards-displayed {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  font-size: 16px;
  padding: 8px;
  border: 1px solid #6CB4EE;
  max-width: 100vw;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 1rem; /* Optional: Add some space between the buttons */
}

.swap-cards-button {
  position: absolute;
  left: 0;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.deck-header {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}